<div class="container">
  <div class="shop-box">
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-shop">ユーザー名</th>
          <td class="detail-value"><%= @user.name %></td>
        </tr>
        <tr>
          <th class="detail-shop">Email</th>
          <td class="detail-value"><%= @user.email %></td>
        </tr>
        <tr>
          <th class="detail-shop">プロフィール</th>
          <td class="detail-value"><%= @user.profile %></td>
        </tr>
        <tr>
        <tr>
          <th class="detail-shop">プロフィール画像</th>
          <td class="detail-value">
            <div class="show-image">
              <%= image_tag @user.image, class:"user-show-img" %>
            </div>
          </td>
        </tr>
        <tr>
      </tbody>
    </table>
    <div class="item-menu">
      <% if @user.id == @current_user.id %>
        <%= link_to "削除", user_path(@user), method: :delete, id:"delete-event" %>
        <%= link_to "編集", edit_user_path(@user.id)%>
      <% end %>
    </div>
  </div>
</div>