<header>
  <div class="header-left">
    <%= link_to "lunch-map", root_path, class:"header-logo" %>
  </div>
  <%# スマホサイズのヘッダー 下記表記%>
    <p id="js-btn-menu">メニュー</p>
      <nav>
        <p><%= link_to "トップページ", root_path %></p>
        <p><%= link_to "お店一覧", shops_path %></p>
        <p><%= link_to "ユーザー一覧", users_path %></p>
        <p><%= link_to "お問い合わせ", "#" %></p>
        <p><%= link_to "このアプリについて", page_path('about') %></p>
      </nav>
  <%# スマホサイズのヘッダー 上記表記%>
  <div class="header-right">
    <% if @current_user %>
      <%= link_to "お店一覧", shops_path %>
      <%= link_to @current_user.name, user_path(@current_user) %>
      <%= link_to "ログアウト", logout_path, method: :post %>
    <% else %>
      <%= link_to "ログイン", login_path %>
      <%= link_to "新規登録", signup_path %>
    <% end %>
  </div>
</header>