<!DOCTYPE html>
<html>
  <head>
    <title>LunchMap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <header>
      <div class="header-left">
        <%= link_to "lunch-map", root_path, class:"header-logo" %>
      </div>
      <span class="fa fa-bars menu-icon"></span>
      <div class="header-right">
        <% if @current_user %>
          <%= link_to "お店一覧", shops_path %>
          <%= link_to @current_user.name, user_path(@current_user) %>
          <%= link_to "ログアウト", logout_path, method: :post %>
        <% else %>
          <%= link_to "ログイン", login_path %>
          <%= link_to "新規登録", signup_path %>
        <% end %>
      </div>
    </header>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
